body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Establece la altura del cuerpo al 100% del viewport */
    margin: 0; /* Asegura que no haya margen externo */
    background-color: black;
    text-align: center;
}

#title{
    font-size: 40px;
    color: rgb(94, 255, 54);
}

.container{
    
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 500px ;
    background-color: rgb(0, 0, 0);
    text-align: center;
    box-shadow: 0px 4px 20px 0px rgba(64,255,84,0.93);
-webkit-box-shadow: 0px 4px 20px 0px rgba(64,255,84,0.93);
-moz-box-shadow: 0px 4px 20px 0px rgba(64,255,84,0.93);
border-radius: 30px;
border: 1px solid chartreuse;
}



#veri{
    display: flex;
    
}

.c{

    border: 1px solid chartreuse;
    width: 240px;
    height: 50px;
    background-color: black;
    font-size: 15px;
    color: chartreuse;
    border-radius: 10px;
    
}
#x{
    color: chartreuse;
}
button{
    background-color: chartreuse;
    color: black;
    width: 240px;
    height: 50px;
    font-size: 20px;
    border: none;
    border-radius: 20px;
}