body{
    background-color: black;
    margin: 0;
}
header{
    background-color: rgb(22, 22, 22);
    display: flex;
    gap:1000px
}

.link{
    margin-top: 25px;
    display: flex;
    gap: 25px;
    font-size: 15px;
}
.titulo{
    color: white;
    text-align: center;
    font-size: 25px;
}

.eleccion{
    color: white;
    text-align: center;
    
}
.gh{
    display: flex;
    gap: 30px;
    text-align: center;
    margin-left: 615px;
}